@import url('https://fonts.googleapis.com/css?family=Exo');
*{
	margin: 0;
	padding: 0;
	font-family: 'Exo';
}
body{
	background: url(logo/bg-item.jpeg) left top repeat;

}
.humb {
	display: none;
}
#page{
	max-width:1280px;
	margin: 0 auto 40px auto;

}
header{
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
.nav a{
	display: flex;
	align-items: center;
	height: 100%;
	font-weight: bold;
	text-decoration: none;
	color: #616161;
	text-transform: capitalize;
	box-sizing: border-box;
}
.nav a:hover{
	background: #e1e1e1;
	color: black;
}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-top: 20px;
	height: 35px;
	background: #F7F7F7;

}
.head-item{
	margin:0 10px;
}
.nav{
	margin-left: 0px;
	list-style: none;
	display: flex;
	align-content: center;
	height: 100%;
}
.nav-item{
	padding:0 10px 0 10px;
}
input{
	padding: 4px;
	border:2px solid #E1E1E1;
	background: #F7F7F7;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
input:hover,input:active,input:focus{
	outline: none;
}
form button{
	margin-left: -7px;
	width: 40px;
	height: 29px;
	cursor: pointer;
	background: #F7F7F7;
	border:2px solid #E1E1E1;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
button:hover,button:active,button:focus{
	outline: none;
}
.galery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content:center;
}
.galery-item a{
	text-decoration: none;
	color: black;
	text-transform: capitalize;
}
.galery-item {
	padding-bottom: 10px;
	height: auto;
	flex-basis: 23.59375%;
	margin-top: 20px;
	max-width: 300px;
	border-radius: 5px;
	border:1px solid #DDDDDD;
	background: #F7F7F7;
	overflow: hidden;
}
.galery-item:nth-child(11){
	transform: translateX(-107.5%);
}
.galery-item:nth-child(10){
	transform: translateX(-54%);
}
.galery-item>a {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.galery-item a img{
	width: 100%;
}
.galery-item span{
	display: block;
}
.albom{
	text-transform: uppercase;
	padding:3px;
}
.released{
	text-transform: capitalize;
	padding:3px;
}